/* Author Name - SkyzerNetworks */
/* Copyright - © 2023 skyzernetworks@gmail.com */
/* Source Code - https://github.com/SkyzerNetworks/Route-66-Oklahoma/ */
/* Description - [ A useful site to show the background story of Route 66 in Oklahoma around the time to travel west! ]
/* Citation Information - [ LINK ]

/* Vocabulary Dictionary: */

/* Block / Top = The format of sections to display certain information (ex: header - show the title and helpful links) */

/* __________________________________________________________________________________________ */
/* -------------------------------- CSS Styling Code ---------------------------------------- */ 
/* __________________________________________________________________________________________ */

/* --------- */
/* CSS Reset */
/* --------- */

* {
  padding: 0;
  margin: 0;
  cursor: default;
  overflow: hidden;
}

/* --------------------------- */
/* Body / Background [ BLOCK ] */
/* --------------------------- */

body {
  background-color: black;
}

/* ---------------- */
/* Header [ BLOCK ] */
/* ---------------- */

.headerDiv {
  width: 100%;
  height: 15vh;
}

#headerBlock {
  width: 100%;
  height: 100%;
  transition: .5s;
  display: flex;
  flex-direction: row;
  background-color: rgba(30, 30, 30, 0.312);
  border-bottom: .1vh solid white;
}

#headerBlock:hover {
  background-color: #827849;
  border-bottom: 1vh solid white;
  box-shadow: 0 0 5vh #827849;
}

.titleDiv {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerTitle {
  font-size: 2vw;
  color: white;
  text-align: center;
  width: 100%
}

.imageDiv {
  width: 8%; 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#imgHeader {
  width: 5vw;
  height: 5vw;
}

#imgHeader:hover {
  cursor: pointer;
}

.menuDiv {
  width: 8%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

#menuImg {
  width: 10vw;
  height: 10vw;
}

/* ------------- */
/* Nav [ BLOCK ] */
/* ------------- */

.navDiv {
  width: 100%;
  height: 8vh;
  background-color: white;
  visibility: visible;
  display: flex;
}

#navBlock {
  width: 100%;
  height: 100%;
  background-color: #38341f;
  border-top: .1vw solid white;
  border-bottom: .1vw solid white;
  display:flex;
  visibility: inherit;
  justify-content: center;
  align-items: center;
}

#navContentHold {
  width: 99%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.navButton {
  width: 15%;
  height: inherit;
  padding: .5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: .1vw solid white;
  border-right: .1vw solid white;
  background-color: #000000b5;
  cursor: pointer;
  text-decoration: none;
}

.navButton h2 {
  color: white;
  text-shadow: 2px 2px 5px white;
  transition: 0.5s;
  font-size: 1.5vw;
  cursor: inherit;
  text-decoration: none;
}

.navButton h2:hover {
  font-size: 2vw;
  text-shadow: 3px 3px 8px #857b48;
}

/* --------------------- */
/* Section (1) [ BLOCK ] */
/* --------------------- */

.sectionDiv {
  width: 100%;
  height: 60vh;
}

#sectionBlock {
  width: inherit;
  height: inherit;
  background-image: url("https://pixeljoint.com/files/icons/full/desertmockup.png");
  background-size: 30vw;
  box-shadow: 0 0 500px black inset;
  filter: saturate(70%);
  border-top: .1vw solid white;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: .5vw;
}

#citationDiv {
  width: 95vw;
  height: 20vw;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

#citationText {
  color: white;
  width: 20vw;
  height: 7vw;
  text-align: center;
  line-height: 1vw;
  font-size: .6vw;
  background-color: black;
  border: .1vw solid white;
}

/* ---------------- */
/* Footer [ BLOCK ] */
/* ---------------- */

.footerDiv {
  width: 100%;
  height: 20vh;
}

#footerBlock {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(10deg, #1f1f1f, #6e6344);
  border-top: .3vh solid white;
}

/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media screen and (max-width: 415px) {

  /* Header Block [ TOP ] */
  .headerDiv {
      height: 10vh;
  }

  .titleDiv {
      width: 65%;
  }

  #headerTitle {
      font-size: 5vw;
  }

  .imageDiv {
      width: 18%;
  }

  #imgHeader {
      width: 8vw;
      height: 8vw;
  }
  
  .menuDiv {
      visibility: visible;
      width: 20%;
  }

  #menuImg {
      width: 15vw;
      height: 15vw;
  }

  /* Nav Block [ TOP ] */

  .navDiv {
      visibility: hidden;
      display: none;
  }

  /* Section Block [ MIDDLE ] */

  .sectionDiv {
      position: relative;
      top: 0vh;
  }

  /* Footer Block [ BOTTOM ] */

  .footerDiv {
      height: 29.8vh;
  }

  #footerBlock {
      border-top: .1vh solid white;
  }
}