/* Author Name - SkyzerNetworks */
/* Copyright - © 2023 skyzernetworks@gmail.com */
/* Source Code - https://github.com/SkyzerNetworks/Route-66-Oklahoma.github.io */
/* Description - [ A useful site to show the background story of Route 66 in Oklahoma around the time to travel west! ]
/* Citation Information - [ LINK ]

/* Vocabulary Dictionary: */

/* Block / Top = The format of sections to display certain information (ex: header - show the title and helpful links) */

/* __________________________________________________________________________________________ */
/* -------------------------------- CSS Styling Code ---------------------------------------- */ 
/* __________________________________________________________________________________________ */

/* --------- */
/* CSS Reset */
/* --------- */

* {
    padding: 0;
    margin: 0;
    cursor: default;
}

/* --------------------------- */
/* Body / Background [ BLOCK ] */
/* --------------------------- */

body {
    background-color: rgb(184, 151, 33);
}

/* --------------------- */
/* Link Holder [ BLOCK ] */
/* --------------------- */

.linkHolder {
    width: 50vw;
    height: 80%;
    background-color: black;
}