/* Author Name - SkyzerNetworks */
/* Copyright - © 2023 skyzernetworks@gmail.com */
/* Source Code - https://github.com/SkyzerNetworks/Route-66-Oklahoma.github.io */
/* Description - [ A useful site to show the background story of Route 66 in Oklahoma around the time to travel west! ]
/* Citation Information - [ LINK ]

/* Vocabulary Dictionary: */

/* Block / Top = The format of sections to display certain information (ex: header - show the title and helpful links) */

/* __________________________________________________________________________________________ */
/* -------------------------------- CSS Styling Code ---------------------------------------- */ 
/* __________________________________________________________________________________________ */

/* --------- */
/* CSS Reset */
/* --------- */

* {
    padding: 0;
    margin: 0;
    cursor: default;
}

/* --------------------------- */
/* Body / Background [ BLOCK ] */
/* --------------------------- */

body {
    background-color: rgb(0, 0, 0);
    height: 100vh;
}

/* --------------------- */
/* Link Holder [ BLOCK ] */
/* --------------------- */

.linkHolder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkBox {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textBox {
    width: 90%;
    height: 10%;
    padding: 1.5vw;
    font-size: 1.5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.textBox h1 {
    font-size: 3vw;
    color: white;
}

.textBox h3 {
    cursor: pointer;
    transition: 0.5s;
    color: white;
}

.textBox a {
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textBox h3:hover {
    cursor: pointer;
    font-size: 2vw;
    color: #827849;
    text-shadow: 0 0 .7vw #4b452b;
    text-decoration: underline;
}








/* ------------- */
/* MEDIA QUERIES */
/* ------------- */

@media screen and (max-width: 415px) {
    .linkHolder {
        width: 100%;
        height: 100%;
    }

    #linkBox {
        width: 95%;
        height: 90%;
    }

    .textBox h1 {
        font-size: 8vw;
    }
    
    .textBox h3 {
        cursor: pointer;
        font-size: 6vw;
        transition: 0.5s;
    }

    .textBox h3:hover {
        font-size: 7vw;
    }
}