/* CSS Styling Code */

/* Css Reset */

* {
    padding: 0;
    margin: 0;
    cursor: default;
}

/* Body / Background [ BLOCK ] */

body {
    background-color: black;
}

/* Header [ BLOCK ] */

.headerDiv {
    width: 100%;
    height: 15vh;
}

#headerBlock {
    width: 100%;
    height: 100%;
    transition: .5s;
    display: flex;
    flex-direction: row;
    background-color: rgba(30, 30, 30, 0.312);
    border-bottom: .1vh solid white;
}

#headerBlock:hover {
    background-color: #827849;
    border-bottom: 1vh solid white;
    box-shadow: 0 0 5vh #827849;
}

.titleDiv {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerTitle {
    font-size: 2vw;
    color: white;
    text-align: center;
    width: 100%
}

.imageDiv {
    width: 8%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgHeader {
    width: 5vw;
    height: 5vw;
}

#imgHeader:hover {
    cursor: pointer;
}

.menuDiv {
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

#menuImg {
    width: 10vw;
    height: 10vw;
}













/* MEDIA QUERIES */

@media screen and (max-width: 415px) {

    /* Header Block [ TOP ] */
    .headerDiv {
        height: 10vh;
    }

    .titleDiv {
        width: 65%;
    }

    #headerTitle {
        font-size: 5vw;
    }

    .imageDiv {
        width: 18%;
    }

    #imgHeader {
        width: 8vw;
        height: 8vw;
    }
    
    .menuDiv {
        visibility: visible;
        width: 20%;
    }

    #menuImg {
        width: 15vw;
        height: 15vw;
    }
}